@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  @apply bg-black text-white antialiased;
}

::selection {
  background: rgba(255, 170, 0, .35);
}

a {
  @apply underline-offset-4;
}
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-animate {
  background-size: 200% 200%;
  animation: gradientFlow 4s ease-in-out infinite;
}
